<nav uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky"
     class="uk-navbar uk-navbar-container uk-margin nav">

  <div class="uk-navbar-left">
    <button class="uk-navbar-toggle"
            uk-navbar-toggle-icon uk-toggle="target: #offcanvas-nav"></button>


    <a class="uk-navbar-item uk-logo">HandBook</a>

  </div>

  <div class="uk-navbar-center uk-width-2-5 nav-search">
    <form class="uk-search uk-search-default uk-width-1-1">
      <input class="uk-search-input nav-search-input" type="search" placeholder="Search manuals and other">
    </form>
  </div>

  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li>
        <a href="" uk-icon="icon: grid"></a>
      </li>
      <li>
        <a class="nav-bell" href="" uk-icon="icon: bell"></a>
      </li>
      <li>
        <a href="" uk-icon="icon: user"></a>
      </li>
    </ul>
  </div>


</nav>

<app-menu></app-menu>
