.header-area {
  background-color: #16ab39;
  box-sizing: border-box;
  padding: 0px !important;
  margin: 0px !important;
}

.logo-area {
  display: inline-block;
  font-size: 24px;
  color: white;
  font-weight: bold;
  padding-top: 13px;
  padding-left: 20px;
  cursor: pointer;
}

.third-area {
  text-align: right;
}
