
<div class="ui container page-content">
  <div class="ui segment">

    <h2 class="ui header">
      <i class="settings icon"></i>
      <div class="content">
        {{ 'Account settings' | translate }}
        <div class="sub header">{{ 'Manage your preferences' | translate }}</div>
      </div>
    </h2>

    <ng-template let-option #optionTemplate>
      <i class="{{ option.flag }} flag"></i>{{ option.display }}
    </ng-template>
    <sui-select class="selection"
                [(ngModel)]="selectedLanguage"
                [options]="supportedLanguages"
                labelField="display"
                (selectedOptionChange)="langChange($event)"
                [optionTemplate]="optionTemplate"
                [isSearchable]="true"
                #templated>
      <sui-select-option *ngFor="let o of templated.filteredOptions" [value]="o"></sui-select-option>
    </sui-select>

    <form (ngSubmit)="save()" class="ui form" style="margin-top: 15px;">

      <div class="field">
        <div class="ui left icon input">
          <i class="user circle icon"></i>
          <input type="email" name="first_name" [(ngModel)]="user.first_name"
                 required placeholder="{{ 'First name' | translate }}">
        </div>
      </div>

      <div class="field">
        <div class="ui left icon input">
          <i class="user circle icon"></i>
          <input type="email" name="last_name" [(ngModel)]="user.last_name"
                 required placeholder="{{ 'Last name' | translate }}">
        </div>
      </div>

      <div class="field">
        <button type="submit" class="ui primary button">{{ 'Save' | translate }}</button>
      </div>

    </form>

  </div>
</div>



