<div class="ui container page-content">

  <article class="ui segment">
    <a class="ui {{ manual.topic.color }} left ribbon label">{{ manual.topic.title }}</a>
    <span>Published at {{ manual.created | date:"d.M.y H:m" }}</span>

    <h1 class="ui header">
      <img src="{{ manual.author.avatar }}" class="ui circular image">
      <div class="content">
        {{ manual.title | titlecase }}
        <div class="sub header">
          By <strong>{{ manual.author.first_name }} {{ manual.author.last_name }}</strong>
          <sui-rating class="heart" [isReadonly]="true" [ngModel]="manual.rating.average" [maximum]="5"></sui-rating>
        </div>
      </div>
    </h1>

    <div class="ui divider"></div>

    <p class="text">
      {{ manual.content }}
    </p>

    <div class="ui small labels">
      <span class="ui label" *ngFor="let tag of manual.tags">{{ tag }}</span>
    </div>

  </article>

  <!--<div class="ui grid">
    <div class="eleven wide column">

      <div class="ui fluid card" *ngFor="let step of manual.steps | orderBy: 'order'">
        <div class="image">
          <img *ngFor="let attachment of step.attachments" src="{{ attachment }}">
        </div>
        <div class="content">
          <a class="header">{{ step.title }}</a>
        </div>
      </div>
    </div>

    <div class="five wide column">
      <div class="ui fluid card">
        <div class="content">

          <div class="ui vertical text menu">
            <div class="header item">Content</div>
            <a *ngFor="let step of manual.steps | orderBy: 'order'" class="item">
              {{ step.order }}. {{ step.title }}
            </a>
          </div>

        </div>
      </div>
    </div>

  </div>-->

</div>


