<div class="ui container">
  <sui-dimmer class="inverted" [(isDimmed)]="loading">
    <div class="ui text loader">Loading...</div>
  </sui-dimmer>


  <article class="ui segment">
    <a class="ui {{ manual.topic.color }} left ribbon label">{{ manual.topic.title }}</a>
    <span>Published at {{ manual.created | date:"d.M.y H:m" }}</span>

    <h1 class="ui header">
      <img src="{{ manual.author.avatar }}" class="ui circular image">
      <div class="content">
        {{ manual.title | titlecase }}
        <div class="sub header">
          By <strong>{{ manual.author.first_name }} {{ manual.author.last_name }}</strong>
          <sui-rating class="heart" [isReadonly]="true" [ngModel]="manual.rating.average" [maximum]="5"></sui-rating>
        </div>
      </div>
    </h1>

    <div class="ui divider"></div>

    <p class="text">
      {{ manual.content }}
    </p>

    <h2 *ngFor="let step of manual.steps | orderBy: 'order' " id="step-{{ step.index }}" class="ui header">
      {{ step.order }}. {{ step.title }}
      <div class="sub header">
        {{ step.content }}
      </div>
    </h2>

    <div class="ui small labels">
      <span class="ui label" *ngFor="let tag of manual.tags">{{ tag }}</span>
    </div>

    <h4 class="ui horizontal divider header">
      <i class="chat icon"></i>
      Comments
    </h4>

    <div class="ui comments">
      <div *ngFor="let comment of manual.comments" class="comment">
        <a class="avatar">
          <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
        </a>
        <div class="content">
          <a class="author">{{ comment.user.first_name }} {{ comment.user.last_name }}</a>
          <div class="metadata">
            <div class="date">{{ comment.date | date:"d.M.y H:m" }}</div>
          </div>
          <div class="text">
            {{ comment.body }}
          </div>
        </div>
      </div>

      <form class="ui reply form">
        <div class="field">
          <textarea></textarea>
        </div>
        <div class="ui blue labeled submit icon button">
          <i class="icon edit"></i> Add Reply
        </div>
      </form>
    </div>
  </article>

</div>
