<div class="login-container">

  <div class="login-form">
    <form (ngSubmit)="login()" class="ui large form">

      <div class="field" style="text-align: left">
        <sui-message *ngIf="hasError" class="error">
          <div class="header">
            {{ 'Error' | translate }}!
          </div>
          <p>
            {{ errorHeading | titlecase | translate }}: {{ errorBody | translate }}
          </p>
        </sui-message>
      </div>

      <div class="field">
        <div class="ui left icon input">
          <i class="user circle icon"></i>
          <input type="email" name="email" [(ngModel)]="model.email"
                 required placeholder="{{ 'Email' | translate }}">
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" name="password" [(ngModel)]="model.password"
                 required placeholder="{{ 'Password' | translate }}">
        </div>
      </div>

      <div class="field">
        <button [disabled]="loading" class="ui fluid large inverted button">
          {{ 'Sign in' | translate }}
        </button>
      </div>
    </form>

    <span class="login-to-register">{{ 'New to us?' | translate }}
      <a routerLink="/register">{{ 'Sign up' | translate }}</a>
    </span>

  </div>
</div>





