<div class="ui vertical menu sidebar-area">
  <div class="item sub-header">
    <div class="user-info">
      <h4 class="ui header">
        Ivan Borisenko
        <div class="sub header" style="color: rgba(255, 255, 255, 0.8)">mteru00@gmail.com</div>
      </h4>
    </div>
  </div>

  <a class="item" (click)="toggleSidebar()" routerLink="">
    <i class="file outline icon"></i> {{ 'Manuals' | translate }}
  </a>
  <a class="item" (click)="toggleSidebar()" routerLink="">
    <i class="trophy icon"></i> {{ 'Awards' | translate }}
  </a>
  <a class="item" (click)="toggleSidebar()" routerLink="/profile">
    <i class="setting icon"></i> {{ 'Settings' | translate }}
  </a>
  <a class="item" (click)="toggleSidebar()" routerLink="/login">
    <i class="sign out icon"></i> {{ 'Sign out' | translate }}
  </a>

</div>
