<nav class="uk-navbar-container uk-navbar-fixed navbar" uk-navbar>
  <div class="uk-navbar-left">

    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href="#">Active</a></li>
      <li><a href="#">Parent</a></li>
      <li><a href="#">Item</a></li>
    </ul>

  </div>

  <div class="uk-navbar-center uk-width-1-3">

    <div class="uk-navbar-item uk-width-1-1">
      <form class="uk-search uk-search-default uk-width-1-1">
        <span uk-search-icon></span>
        <input class="uk-search-input" type="search"
               placeholder="Search..." style="background-color: white">
      </form>
    </div>

  </div>

</nav>

<button class="uk-button uk-button-primary" (click)="showAlert()">Save</button>

