<div class="login-container">

  <div class="login-form">

    <form (ngSubmit)="register()" class="ui large form">
      <div class="field" style="text-align: left">
        <sui-message *ngIf="hasError" class="error">
          <div class="header">
            {{ 'Error' | translate }}!
          </div>
          <p>
            {{ errorHeading | titlecase | translate }}: {{ errorBody | translate }}
          </p>
        </sui-message>
      </div>

      <div class="field">
        <div class="ui left icon input">
          <i class="user circle icon"></i>
          <input type="email" name="email" [(ngModel)]="model.email"
                 required placeholder="{{ 'Email' | translate }}">
        </div>
      </div>

      <div class="field">
        <div class="ui left icon input">
          <i class="user circle icon"></i>
          <input type="email" [(ngModel)]="model.first_name" name="first_name"
                 required placeholder="{{ 'First name' | translate }}">
        </div>
      </div>

      <div class="field">
        <div class="ui left icon input">
          <i class="user circle icon"></i>
          <input type="email" [(ngModel)]="model.last_name" name="last_name"
                 required placeholder="{{ 'Last name' | translate }}">
        </div>
      </div>

      <div class="field">
        <div class="ui left icon input">
          <i class="user circle icon"></i>
          <input type="email" [(ngModel)]="model.password" name="password"
                 required placeholder="{{ 'Password' | translate }}">
        </div>
      </div>

      <div class="field">
        <button [disabled]="loading" class="ui fluid large inverted button">
          {{ 'Sign up' | translate }}
        </button>
      </div>
    </form>

    <span class="login-to-register">{{ 'Already have an account?' | translate }}
      <a routerLink="/login">{{ 'Sign in' | translate }}</a>
    </span>

  </div>
</div>
