body, html {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #EDEDEE;
}

sui-search {
  width: 100% !important;
}

sui-search div {
  width: 100% !important;
}

sui-search input {
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important;
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
  color: white !important;
  padding-bottom: 13px !important;
  padding-top: 11px !important;
}

sui-search i {
  color: white !important;
  padding-bottom: 13px !important;
  padding-top: 11px !important;
}

sui-search i:before {
  margin-top: -8px !important;
}

sui-search input::-webkit-input-placeholder {
  color: white !important;
  opacity: 0.5;
}

sui-search input:focus::-webkit-input-placeholder {
  color: white !important;
  opacity: 1;
}

sui-search-result {
  width: 100%;
}

sui-dimmer {
  border-radius: 0 !important;
}

.ui.segment>.ui.dimmer {
  border-radius: 0 !important;
}
